.social-login {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 30px;
    margin-top: 30px;
    .social__btn{
      width: 70px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 20px;
      align-self: center;
      justify-self: center;
      &:hover{
        transition: all 0.2s ease-in-out;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    .social__btn--github {
      background-color: transparent;
      color: azure;
    }
    .social__btn--kakao {
      background-color: transparent;
      color: #FAE100;
    }
    .social__btn--google {
      background-color: transparent;
      color: tomato;
    }
    .social__btn--naver {
      background-color: transparent;
      color: #17b75e;
    }
  }